body{
	font-family: Verdana, Sans-serif;
	background: #222;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

#legend{
	background: #bbb;
}
#first_link {
	display: block;
	padding: 0px 0px;
}
#logo {
	width: 200px;
	height: 46px;
}
#link {
	display: block;
	color: blue;
	text-align: center;
	padding: 15px 10px;
	text-decoration: none;
}
#link:hover {
	color: white;
	background-color: #011;
}
/*--------NAVBAR*/
.dropdown {
	padding: 0;
    float: right;
}
iframe{
	width: 100%;
}
.dropdown-content {
	display: none;
	position: absolute;
	margin: 0px;
	padding: 0px;
	right: 9px;
	background-color: #f9f9f9;
	min-width: 500px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 3;
}
.dropdown-logout {
	display: none;
	position: absolute;
	margin: 0px;
	padding: 0px;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 3;
}
.dropdown-logout a {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	text-decoration: none;
	width: 100%;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-logout {
  display: block;
}
/*--------CONTENT*/
.content{
	margin-top: 12px;
	background: #ddd;
}
.dir li{
	float: none;
}
.dir ul{
	height: 500px;
}
#dir_btn {
	background: none!important;
	border: none;
	padding-left: 24px;
	padding-top: 12px;
	font-size: 28px;
	/*optional*/
	font-family: arial, sans-serif;
	/*input has OS specific font-family*/
	color: #069;
	text-decoration: underline;
	cursor: pointer;
}
/* table{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	background: #eee;
}
td{
	background: white;
}
th{
	background: #aaa;
} */
li {
	float: left;
	color: black;
}
td {
	background: white;
}
#database {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	background: #eee;
}
#browse_btn {
	width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
	border: 0;
	height: 48px;
}
/*--------CONTENT*/
.footer {
	font-size: 11px;
	background: #dddd;
}





/*------------------------------*/
/* table{
	width: 100%;
}
h1 {
	margin: auto;
	padding: 5px;
}
#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%
}
#name, #contact, #notes {
	width: 100%;
	height: 24px;
}
#device {
	font-size: 24px;
	padding: 12px;
}
input[type="text"] {
	padding: 20px 10px;
	line-height: 50px;
	width: 100%;
	font-size: 48px;
	margin: 8px 0;
	display: inline-block;
	border: 0px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: #ccc;
}
input[type="submit"] {
	background-color: green;
} */